body{
    background-color: #67a6ff;
}
.me{
    background-color: rgb(105, 175, 255);
    width: 0vw;
    height: 31vh;
    transition-duration: 1s;
    transition-delay: inherit;
    transition-timing-function: ease-in-out;
    position: relative;
  }
  .full {
    width: 100vw;
    background-color:  #d5dbda;;
    display: flex;
    flex-direction: column;
}
  #isth3 {
    padding-left: 17vw;
    padding-top: 4vh;
    font-size: 45px;
    /* display: inline-block; */
    /* float: left; */
    font-family: "Quicksand",sans-serif;
    color: #57c2ff;
    text-transform: capitalize;
}
    #istpara {
        width: 42vw;
        padding-left: 5vw;
        padding-top: 3vh;
        font-size: 20px;
        /* display: inline-block; */
        /* float: left; */
        font-family: "Quicksand",sans-serif;
        color: #57c2ff;
    }
    #h3p2 {
        position: absolute;
        right: 21vw;
        top: 3.5vh;
        font-size: 32px;
        font-family: 'Merriweather', serif;
        color: #57c2ff;
    }
    #parap2 {
        position: absolute;
        right: 28vw;
        top: 10.2vh;
        font-size: 21px;
        font-family: "Quicksand",sans-serif;
        text-transform: capitalize;
        /* text-decoration: none; */
        color: #57c2ff;
        cursor: pointer;
    }
    #resanc {
        position: absolute;
        right: 31vw;
        top: 15vh;
    }
#btn-resume {
    width: 167px;
    height: 63px;
    /* text-transform: uppercase; */
    font-family: "Quicksand",sans-serif;
    border: 0px solid;
    border-radius: 89px;
    background: #7ed7ff;
    color: white;
}
#btn-resume:hover{
    background-color: rgb(255, 85, 85);
    cursor: pointer;
    
}
#img1 {
    width: 18vw;
    position: absolute;
    top: 14vh;
    right: 40vw;
    display: inline-block;
}