
body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #222;
  }
.me {
    width: 0vw;
    height: 17vw;
    animation-duration: 10s;
    background-color: #5b5959;
}
.full {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background-color: #1f1f1f;
}
  #isth3 {
    display: flex;
    justify-content: center;
    
}
#isth3 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3vw;
}
#istpara {
    max-width: 46vw;
    font-size: 2vw;
    color: white;
}
#h3p2 {
    color: white;
    font-size: 2vw;
}

    #parap2{
        color: white;
        font-size: 1.5vw;
        text-transform: capitalize;
        text-decoration: none;
        word-wrap: normal;
    }
    #resanc {
        
    }
 
    #btn-resume {
        width: 150px;
        padding: 5px;
        height: 38px;
        display: inline-block;
        position: relative;
        text-align: end;
        background-color: #f06d55;
        color: white;
        border: 0px solid;
        border-radius: 2px;
    }

    
    #imgofresume{
        width: 50px;
        position: absolute;
        left: -7px;
        top: -5px;
    }
    
#cont1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
#cont2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
