.null{
  background-color: #1f1f1f;
}
#maindivedsc {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  height: 52vh;
  align-items: center;
}
#mainh2 {
  display: flex;
  justify-content: center;
  color: white;


}

#div1ofGreend {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  background-color: #f06d55;
  border-radius: 4px;
  height: 45vh;
  width: 25vw;
}
#div1ofGreend>h5 {
  font-size: 1vw;
  font-family: 'Sono';
  text-align: center;
}
#div1ofGreend>h4 {
  font-size: 2vw;
  font-family: sono;
}

p {
  font-size: 1vw;
  text-align: center;
}
#csslogos{
  width: 49px;
  height: 33px;
  float: left;
}
#htmllogo{
  width: 49px;
  height: 33px;
  float: left;
}
#jslogo{
  width: 49px;
  height: 33px;
  float: left;
}

#div2ofGreend>h4 {
  font-family: 'Sono';
  font-size: 1vw;
}
#div2ofGreend>h5 {
  font-size: 2vw;
  font-family: 'Sono';
}
#div2ofGreend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 10vw;
  color: white;
  background-color: #f06d55;
  width: 15vw;
  height: 32vh;
  border-radius: 3px;
  align-items: center;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #222;
}