/* universal */

body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #222;
}
* {
  padding: 0;
  margin: 0;
}
/* end */

/* #2 header with image section with chat button */
.container {
  height: 77vh;
  width: 99vw;
  background-size: cover;
}
#maincont {
  display: flex;
}
#logoimgheader {
  width: 67vw;
  height: 70vh;
  margin-top: 5vw;
}
h1 {
  font-size: 63px;
  font-family: "Quicksand", sans-serif;
  padding-top: 24vh;
  padding-left: 11vw;
  color: whitesmoke;
  display: inline-block;
  width: -1vw;
  word-wrap: normal;
}
h6 {
  font-size: 20px;
  color: white;
  font-family: "Quicksand", sans-serif;
  margin-left: 12vw;
  margin-top: 1vh;
  word-wrap: normal;
}
.logoContainer {
  padding-left: 11.5vw;
  padding-top: 12px;
  width: 42px;
  height: 46px;
  display: flex;
  flex-direction: row;
  display: none;
}
#btn1 {
  width: 8vw;
  height: 5vh;
  margin-left: 12.5vw;
  margin-top: 1vh;
  background-color: #f06d55;
  color: #f1e3e3;
  border-radius: 2px;
  border: 0px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
/* header with image section with chat button closed */

#fdiv {
  display: flex;
  height: 30vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d5dbda;
  color: #57c2ff;
  flex-wrap: wrap;
}

.sname {
  font-size: 21px;
  word-wrap: normal;
}
#btna {
  text-decoration: none;
  color: #5bc3e8;
  text-transform: capitalize;
}
.num {
  margin: 7px;
}
#fdiv {
  display: flex;
  height: 30vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d5dbda;
  color: #57c2ff;
}
.logoimg {
  width: 41px;
  height: 39px;
}
#img1 {
  width: 18vw;
  position: absolute;
  top: 14vh;
  right: 40vw;
  display: inline-block;
  visibility: hidden;
}
#maindivedsc > img {
  position: absolute;
  width: 360px;
  left: 42.5vw;
  top: -100px;
  z-index: 1;
  visibility: hidden;
}
#btna {
  text-decoration: none;
  color: #eeeeee;
  text-transform: capitalize;
}
